.main {
  max-width: 600px;
  max-height: 600px;
  margin: 0px 12px 17px 12px;
  background: #424242;
  border-color: transparent;
  border-radius: 5px;
  padding: 13px;
}
.image {
  height: 59px;
  width: 62px;
  border-radius: 62px;
}
.box {
  padding: 15px 0px 15px 15px;
  background: #393939 none repeat scroll 0 0;
  border-color: transparent;
  color: #eee;
  border-radius: 6px 6px 6px 6px;
  border-bottom: 1;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.like {
  cursor: pointer;
  color: white;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
